
body {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



#buttonbg {
    background-color: rgb(150, 93, 232);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

#buttonbg:hover {
    background-color: rgb(47, 3, 105);
}

#buttonbg2:hover {
    background-color: rgba(47, 3, 105, 0);
}

.imgset {
    width: 40vw;
    height: auto;
}

.fontsize {
    font-size: 4.2rem;
    font-weight: 600;
}

.starcolor {
    color: rgb(255, 191, 0);
}

.main-logotext-content {
    display: flex;
    box-sizing: border-box;
}

.mainimgtext {
    padding: 0vw 0.5rem;
}

.mainimgtext img {
    width: 2.5vw;
    height: 2.5vw;
    text-align: center;
}

.mainimgtext p {
    font-size: 0.8rem;
}

.main-last {
    display: flex;
}

#top {
    padding: 0em 1em;
    font-size: 0.9rem;
}

.mainimgtext #top {
    position: relative;
    top: -4.5rem;
    left: 2.2rem;
}

.bgcolor {
    background-color: rgba(250, 235, 215, 0.335);
}

.box {
    border: 1px solid #4c55f1;
    padding: 1.5rem;
    border-radius: 1.2rem;
}

.box li {
    list-style: none;
    font-size: 0.8rem;
}

#first {
    font-size: 2rem;
    color: #2962ff;
}

#price {
    font-size: 1.8rem;
}

#price span {
    color: rgb(95, 99, 104);
    font-size: 1.2rem;
    font-weight: 500;
    width: 2vw;
    height: 2vw;
}

#contenet {
    font-size: 0.8rem;
}

#lines {
    text-decoration: line-through;
    font-size: 1.3vw;
    color: rgb(95, 99, 104);
}

.box-space,
.extra-space {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textcolor {
    color: #2962ff;
}

.sixbox h4 {
    color: #ffc107;
}


.sixbox p {
    font-size: 0.8rem;
}

.sixbox-colored {
    background-color: #6B59ED;
    padding: 10rem 2.4rem;
}

.sixbox-colored h3 {
    color: #ffffff;
    line-height: 2rem;
}

.sixbox-colored p {
    color: #ffffff;
    font-size: 0.8rem;
}

.sixbox-down h4 {
    color: #2962ff;
    font-size: 1.2em;
}



.sixbox-down {
    background-color: antiquewhite;
    padding: 1em 2em;
}

.bgcolor {
    padding: 4rem 2rem;
    background-image: linear-gradient(82deg, rgb(150, 93, 232) 0%, rgb(107, 89, 237) 100%);
    height: 17rem;
}

.heading {
    color: #fff;
}

.img-girl {
    width: 80%;
    position: relative;
    top: -18.8rem;
}

.bgcolor1 {
    background-color: rgba(238, 238, 238, 0.516);
}

.boxstyle {
    width: 32%;
    background-color: #c6aaaa3e;
    margin: 5px;
    transition: all 0.5s;
    border: 1px solid rgba(128, 128, 128, 0.205);
}
.boxstyle:hover {
  box-shadow: 4px 3px 7px rgba(38, 38, 38, 0.375);             
  transform: translateY(-8px);
  transform: scaleY(104%), scaleY(101%);
  transition: all 0.6s linear !important;
}

.smallBox img {
    width: 4rem;

}

.smallBox h2 {

    font-size: 1.9rem;
    color: #6d6e70;
}

.smallBox p {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

.boxstyle {
    padding: 2rem;
}
.boxstyle h2{
  font-size: 1.7rem;
}
  .hideline {
      display: none;
  }

  .oddcolor {
      background-color: #ffe6ca5a;
  }

  .evencolor {
      background-color: #dedede80;
  }
footer li a{
    text-decoration: none;
    color: #efece2;
}
footer li a:hover{    
    color: #fdc200;
    transition: all 1s ease;
}

/* headings */
h1 h2 h3 h4 h5 h6{
  font-family: "Inter", sans-serif;
}

/* preheader */
.pre-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo-content  i {
  /* color: #fe5f2a; */
  font-weight: 600;
  /* font-size: 1.2rem; */
  vertical-align: center;
}

.logo-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-content ul li {  
  list-style: none;
  text-decoration: none;
}
.logo-content ul li a{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
}
.logo-content ul li a:hover{
    color: blueviolet;
    
}
.logo-content ul{
  
  display: grid;
  /* justify-content: baseline; */
  align-items: center;
}
.ulset{
  display: grid !important;
  align-items: center !important;
 margin-bottom: 0rem;

}
 ul.ulset{
  padding: 2px !important; 
}
.ulset a{
  font-size: 0.9rem !important;
}
.supprtnum a{
  text-decoration: none;
}
.supprtnum a:hover{
  color: #000;
}

@media  (max-width: 600px) {
  .textNav, .supprtnum{
display: none;
  }
}
.head_paragraph .textNav{
  font-size: 0.9rem;
}
@media (max-width:1200px) {
  .head_paragraph .textNav{
  display: none;
}
}

  /* nabar upper */
  .textNav  {
    margin-left: 15px;
  }
.textNav  span {
  font-size: 2rem;
  font-weight: 600; 
}
.xclor{
  font-size: rem;
  color: rgb(3, 121, 238);
}
/* nabar upper */

/* navcss */


/* navcss */

/* footer */
footer,.footer-section{
     font-family: "Montserrat", sans-serif;
}
.main-icons{
  list-style: none;
  display: flex;
  gap: 1.2rem;
  flex-direction: row;
  justify-content: flex-start;
}
.main-icons a{
  text-decoration: none;
  color: white;
  background-color: rgb(49, 42, 42);
  padding: 2px 7px;
  font-size: 20px;
}
.main-icons a:hover {
  color: rgb(15, 15, 15);
  background-color: #ffffff;
  transition: all 0.5s linear;
}
.bg-logo{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 3px;
  width: 70%;
 box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.text-clr{
  color: rgb(233, 233, 233);
  font-weight: 500;
}
.footer-section{
  background-color: rgb(49, 47, 47);
  height: 6rem;
 
}
.main-icon{
  list-style: none;
  display: flex;
  gap: 1.2rem;
  flex-direction: row;
  justify-content: flex-start;
}
.main-icon a{
  text-decoration: none;
  color: white;
  background-color: rgb(22, 125, 229);
  padding: 2px 7px;
  font-size: 20px;
}
.main-icon a:hover {
  color: rgb(15, 15, 15);
  background-color: #ffffff;
  transition: all 0.5s linear;
 
}
.footer-end{
  display: flex;
  justify-content: space-between;
  align-items: center;
      position: relative;
    top: 14px;
}
.ul-list div+div::before{
  list-style: none;
  content: "| "; 
}

.ul-list  a{
  text-decoration: none;
  color: yellow;
}
.ul-list  a:hover{
  text-decoration: none;
  color: rgb(254, 254, 254);

}
.ul-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ptext p {
  font-size: 1.1rem;
  font-weight: 500;
}
.wraptext{
  display:block;
}
.hidelogo {
  display: none;
}
@media  (max-width:600px) {
  .footer-end{
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ptext p {
  font-size: 0.9rem;
  
}
.footer-section{
  background-color: rgb(49, 47, 47);
  height: 10rem; 
}
.start-one{
  text-align: center;
}
.main-icons{
  gap: 0.5rem;
}
.main-icon{
 justify-content: flex-start;
}
.resText > p {
  text-align: left;
}
.resText ul li {
  text-align: left;
}
.wraptext{
  display: inline;
}

}
.navbtn:hover{
  transform: translateY(-4px);
  transition: all 0.6s;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}


/* command line */

.cmd_line_code{
   background-color: #000000;
   margin: 0.4rem 0;
}
.git-bash{
   background-color: #2a2929;
   color: #bbbbbb;
   padding: 0.3rem .7rem;
}
.cmd_line_text{
  color: #ffffff;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

/* whatsaap css app */
.whatsap_button {
  display: grid;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: all 0.5s;
  z-index: 300;
  position: relative;
}
.whatsap_button:hover {
  opacity: 1;
  transition: all 0.5s;
 
}
.whatsap_button .float {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 68px;
  right: 16px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  z-index: 300;
  display: grid;
  animation: blink 1s infinite;
}
.whatsap_button .float:hover {
  filter: grayscale(0);
}
.whatsap_button .call_icon {
  transition: all 0.5s;
  background-color: #0787bd;
}
.whatsap_button .call_icon:hover .bi-telephone-fill {
  transform: rotate(135deg);
  transition: all 0.5s;
}
.whatsap_button .top-1 {
  bottom: 120px;
}
.whatsap_button .my-float {
  align-self: center;
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
.whatsap_button:hover a{
  opacity: 1;
  animation-play-state: paused;
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/


#services{
  margin: 0rem 0;
}
#services .section-title{
  padding: 0rem 0 3rem 0;
  display: grid;
  justify-content: center;
  
}
.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 4px 20px;
    margin: 0;
    text-align: center;
    color: #4154f1;
    /* background-color: #edecfc; */
    text-transform: uppercase;
    border-radius: 50px;
    
}
.section-title p {
    color: #012970;
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 600;
    font-family: var(--heading-font);
}


.services .service-item {
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.066);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}
.service-item a{
  text-decoration: none;
}

.services .service-item .icon {
  font-size: 36px;
  padding: 20px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-item h3 {
  font-size: 24px;
  font-weight: 600;
}

.services .service-item .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-item .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-item.item-cyan {
  border-bottom: 3px solid #0dcaf0;
}

.services .service-item.item-cyan .icon {
  color: #0dcaf0;
  background: rgba(13, 202, 240, 0.1);
}

.services .service-item.item-cyan .read-more {
  color: #0dcaf0;
}

.services .service-item.item-cyan:hover {
  background: #0dcaf0;
}

.services .service-item.item-orange {
  border-bottom: 3px solid #fd7e14;
}

.services .service-item.item-orange .icon {
  color: #fd7e14;
  background: rgba(253, 126, 20, 0.1);
}

.services .service-item.item-orange .read-more {
  color: #fd7e14;
}

.services .service-item.item-orange:hover {
  background: #fd7e14;
}

.services .service-item.item-teal {
  border-bottom: 3px solid #20c997;
}

.services .service-item.item-teal .icon {
  color: #20c997;
  background: rgba(32, 201, 151, 0.1);
}

.services .service-item.item-teal .read-more {
  color: #20c997;
}

.services .service-item.item-teal:hover {
  background: #20c997;
}

.services .service-item.item-red {
  border-bottom: 3px solid #df1529;
}

.services .service-item.item-red .icon {
  color: #df1529;
  background: rgba(223, 21, 4, 0.1);
}

.services .service-item.item-red .read-more {
  color: #df1529;
}

.services .service-item.item-red:hover {
  background: #df1529;
}

.services .service-item.item-indigo {
  border-bottom: 3px solid #6610f2;
}

.services .service-item.item-indigo .icon {
  color: #6610f2;
  background: rgba(102, 16, 242, 0.1);
}

.services .service-item.item-indigo .read-more {
  color: #6610f2;
}

.services .service-item.item-indigo:hover {
  background: #6610f2;
}

.services .service-item.item-pink {
  border-bottom: 3px solid #f3268c;
}

.services .service-item.item-pink .icon {
  color: #f3268c;
  background: rgba(243, 38, 140, 0.1);
}

.services .service-item.item-pink .read-more {
  color: #f3268c;
}

.services .service-item.item-pink:hover {
  background: #f3268c;
}

.services .service-item:hover h3,
.services .service-item:hover p,
.services .service-item:hover .read-more {
  color: #fff;
}

.services .service-item:hover .icon {
  background: #fff;
}


#services{
  padding: 2rem 0;
}
@media screen and (max-width: 876px) {
  .section-title p{
    font-size: 24px;
    font-weight: 600;
  }
  .services .service-item h3{
    font-weight: 600;
    font-size: 20px;
  }
}


@font-face {
  font-family: "DMSans-Bold";
  src: url('../fonts/652d71790f0d072b7e7416f0_DMSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Space Grotesk";
  src: url('../fonts/668e9e62338ae31dcfe712bd_SpaceGrotesk-Regular.ttf') format('truetype');
  src: url('../fonts/668e9e6272951397572c8c34_SpaceGrotesk-Medium.ttf') format('truetype');
}



/*--------------------------------------------------------------
# claud Hero Section
--------------------------------------------------------------*/
#claud-hero{
  padding: 2rem 0;
  /* background: rgb(12,11,110); */
  /* background: linear-gradient(210deg, rgb(13, 11, 107) 0%, rgba(0,0,0,1) 24%, rgb(22, 21, 84) 46%, rgba(124,0,17,0.9920343137254902) 72%, rgba(21,37,45,1) 90%); */
  background: linear-gradient(163deg, rgba(33,37,41,1) 0%, rgba(117,71,32,1) 22%, rgba(36,77,112,1) 59%, rgba(40,68,98,1) 87%);
  color: #ffffff;
}

.cl-main h1{
  font-family: Space Grotesk ;
  font-size: 10rem;
  font-weight: 500; 
  margin-bottom: 1rem;  
  color: #fff;
}
.cl-main h1 span:first-child{  
  margin-left: 5%;
}
.cl-main h1 span:last-child{ 
   display: block;   
   text-align: center;   
}
@media  screen and (max-width: 1200px) {
  .cl-main h1{
    text-align: center;
  }
  .cl-main h1 span:first-child{  
  margin-left: 0%;
  }
.cl-main h1 span:last-child{ 
   display: inline; 
}
}
.cl-end {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 52%;
}
.cl-end p{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400; 
  width: 70%;    
  font-family: Space Grotesk;
}
.cl-end a{
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #fd7e14;
  padding: 1rem 2rem;
  border-radius: 100px;
  color: #fff;
  font-family: Space Grotesk;
  transition:  all 0.4s linear;
}

.cl-end a:hover{
  scale: 1.02;
  color: #fff;
  background-color: #fc5a15;
  transition:  all 0.4s linear;
}
 .cl-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;  
  padding: 1.5rem;
  height:250px;
  background-color: rgba(195, 195, 195, 0.092);
  border-radius: 5px;
  transition: all 0.4s linear;
} 
 .cl-icons h3{
  color: #fff;
}
.cl-icons span i{
  display: inline-block;
  color: #fff;
  font-size: 3.5rem;  
}
.cl-icons p{
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.cl-icons a {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.3em;
  font-weight: 400; 
  color: #fff;
  font-family: Space Grotesk;    
}
.cl-icons a:hover{
  color: #fd7e14;
  transition:  all 0.4s linear;

}
 .cl-icons a::after{
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #fd7e14;
  transition: width .4s;
}
.cl-icons:hover{
  background-color: rgba(255, 255, 255, 0.218);
}
.cl-icons:hover  a::after{
  width: 60%;
}


/*--------------------------------------------------------------
#   intro with image and text1
--------------------------------------------------------------*/
#intro{
  padding: 2rem 0;
  /* background-color: rgb(228, 165, 165); */
  
}
.int-row{
  position: relative;
  min-height: 100%;
}
.int-heading h3{
  margin-bottom: 1rem;
  font-size: 1.3rem;
  
}

.int-heading h4{
  font-family: DMSans-Bold;
  font-size: 2.5rem;
  font-weight: 600;
  color: #3d47b5;
  margin-bottom: 2rem;
  width: 90%;
  
}
.int-heading p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 400;  
  width: 80%;
  /* text-align: justify; */
  line-height: 1.7;
  margin-bottom: 1.5rem;
/* background-color: red; */
}

.int-content{
/* border-left: 4px solid #3b3b3d19; */
  position: relative;
}
.int-content img{
  width: 100%;
  height: auto;
}
.int-content p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 400;  
  line-height: 1.7;
  margin-top: 1rem;
}
.int-heading .btn-started{
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #fd7e14;
  padding: 1rem 2rem;
  border-radius: 100px;
  color: #fff;
  font-family: Space Grotesk;
  transition:  all 0.4s linear;
  margin-right: 1rem;
}
.int-heading .btn-started:hover{ 
  color: #fff;
  background-color: #fc5a15;
  transition:  all 0.4s linear;
}
.int-heading .learn{
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 100px;
  color: #1b2ac9;
  font-family: Space Grotesk;
  transition:  all 0.4s linear;
  border: 1px solid #1b2ac9;
}
.int-heading .learn:hover{
  color: #fff;
  background-color: #1b2ac9;
  transition:  all 0.4s linear;
}

.int-content.intc1{
  /* background-color: red; */  
  padding: 2rem  0;  
}
.int-content.intc1 img{
  width: 85%;
  height: auto;
}
.int-content.intc1 p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 400;  
  /* width: 85%; */
  margin-top: 1rem;
}

.int-heading.intc1-heading h3{
  font-family: Space Grotesk;
  font-size: 1.4rem;
  font-weight: 600;
    
}
.int-heading.intc1-heading h4{
  font-family: DMSans-Bold;
  font-size: 2.5rem;
  font-weight: 600;
  color: #3d47b5;
  margin-bottom: 2rem; 
}

.int-heading.intc1-heading p{
  font-family:Space Grotesk ;
  font-size: 1.5rem;
  font-weight: 400;  
  width: 80%;
  line-height: 1.7;
}

/*--------------------------------------------------------------
#  customers Section
--------------------------------------------------------------*/
#customers{
  padding: 2rem 0;  
}
.cus-content{
  background-color:#F4F6FC;
  padding: 2rem;
}
.cus-content img{
  width: 180px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}
.cus-content h3{
  font-family:Space Grotesk ;
  font-size: 3rem;
  font-weight: 500;  
  line-height: 1.3;
  margin-top: 1rem;
  color: #37385f;
}
.cus-content p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 400;  
  line-height: 1.3;
  margin-top: 1rem;
}
.cus-name{
  margin-top: 2rem;
}
.cus-name span{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 500; 
  margin-top: 1rem;
  color: #37385f;
}
.cus-name > p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 500;
}
.cus-statics{
  width: 70%;
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}
.cus-statics .cus-1{
  border-left: 5px solid #c30010cf;
  padding-left: 1rem;
  margin: 1rem 0;
}
.cus-statics .cus-1 span{
  font-family:Space Grotesk ;
  font-size: 3rem;
  font-weight: 500;  
  color: #37385f;
  height: auto; 
}
.cus-statics .cus-1 > p{
  font-family:Space Grotesk ;
  font-size: 1.4rem;
  font-weight: 400;
  color: #414165e4;
   margin: 0;
}
.cus-btn a{
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;  
  border-radius: 100px;
  color:  #045185;
  font-family: Space Grotesk;
  transition:  all 0.4s linear;
  margin-right: 1rem;
}
.cus-btn a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #fd7e14;
  display: block;
  transition: all 0.4s linear;
}
.cus-btn a:hover{
  color: #ff5805;
  transition:  all 0.4s linear;
}
.cus-btn a:hover::after{
  width: 100%;
  transition: all 0.4s linear;
}


/*--------------------------------------------------------------
# benefit Section
--------------------------------------------------------------*/
#benefit{
  position: relative;
}

.benefit-title h4{
  font-weight: 400px;
  font-size: 1.5rem;
  color: #37385f;
  font-family:Space Grotesk ;
  margin-bottom: 1rem;  
}
.benefit-title p{
  font-weight: 500px;
  font-size: 3rem;
  color: #37385f;
  font-family:Space Grotesk ;  
  line-height: 1.3;
}
.benefit-content{
  /* background-color: #F4F6FC; */
  margin: 2rem 0rem;
  padding: 1rem 2rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.benefit-content .b-icon{
  font-size: 2.5rem;
  color: #6e54a5;
  display: inline-block;
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #cdd4e95a;
  border-radius: 10px;
}
.benefit-content .b-icon i {
  opacity: 0.7;
  transition: all 0.2s linear;
}
.benefit-content:hover .b-icon i {
  opacity: 1;
}

.benefit-content p{
  font-weight: 400px;
  font-size: 1.5rem;
  color: #37385f;
  font-family:Space Grotesk ;  
  line-height: 1.3;
}
.benefit-content > a{
  align-self: flex-start;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;  
  border-radius: 100px;
  color:  #045185;
  font-family: Space Grotesk;
  transition:  all 0.4s linear;
  position: relative;  
}
.benefit-content a::after{
  position: absolute;  
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fd7e14;   
  transition: all 0.3s linear;
}
.benefit-content:hover a{
  color: #ff5805;
  transition:  all 0.3s linear;
}
.benefit-content:hover a::after{
  width: 100%;
  transition: all 0.3s linear;
}
.benefit-content:hover .b-icon{
  color:#4E00F8;
  background-color: #bdc8e85a;
  transition:  all 0.4s linear;
}

/* faq */

.price_end > div > h3{
	text-align: center;
	font-size: 2.5rem;
	font-family:'Space Grotesk';
}
.price_end *{
  font-family:'Space Grotesk';
}
.accordion .accordion-header button {
  font-size: 1.4rem;
  font-weight: 600;
  /* background-color: red; */
}
.grid-images .gi-text h3{

  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-family: 'Space Grotesk';
}

/* ssl hero */
.ssl-clients{
  background: linear-gradient(to bottom, #a5f0fa28, #c7e5ff);
   font-family: 'Space Grotesk';
}
.ssl-clients .container{
  padding: 5rem 0;
}
.ssl-clients .sc_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
   font-family: 'Space Grotesk';
}

.ssl-clients .sc_content h3{
  font-size: 3.5rem;
  font-weight: 600; 
  color: #37385f;
   font-family: 'Space Grotesk';
}
.sc_content p{
  font-size: 1.3rem;
  font-weight: 400; 
  color: #37385f;
  font-family: 'Space Grotesk';
}
.sc_content a.btn-getstarted{
  display: inline-block;
  margin: 1.2rem 0;
  font-size: 1.3rem;
  color: #37385f;
  font-family: 'Space Grotesk';
  padding: 0.8rem 2rem;
  border-radius: 100px;
  border: 1px solid #fd7e14;
  transition:  all 0.4s linear;
}
.sc_content a.btn-getstarted:hover{
  background-color: #ffe692;
  color: #232323;
  transition:  all 0.4s linear;
}
.sc_content img{
  border-radius: 10px;
}
.hero-features{
  display: flex;
  flex-direction: row; 
  gap: 2.3rem;
  align-items: center;
  justify-content: center;
}
.hero-features span {  
  font-size: 1.4rem;
  font-weight: 500; 
  color: #37385f;
  font-family: 'Space Grotesk';  
  
  
}
.hero-features span i{  
  margin-right: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
}



/* ssl certification */


#ssl-hero{
  padding: 5rem 0;  
 
}
.ssl-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ssl-container h1{
  
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Space Grotesk';
  color: #37385f;
  margin-bottom: 1rem;
  letter-spacing: 2px;
   width: max-content; 
  background:linear-gradient(to right, #d6d6d66e, #ffb69160, #ffffff00);
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   /* border-left: 5px solid #fd7e14; */
}

.ssl-img > div{  
  
  border: 1px solid #fd7d144f; 
  padding: 1rem;
  border-radius: 10px;  
  transition:  all 0.4s linear; 
}
.ssl-img > div:hover{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition:  all 0.4s linear;  
}


.ssl-img img{  
  padding: 2rem;
}
.ssl-img span{
  position: relative;
  display: block;
}
 .ssl-img_content a{
  display:block;  
  font-size: 1.2rem;
  font-weight: 500;  
  color:  #131212;
  font-family: Space Grotesk;
  background-color: #5c9efb;
  padding: 0.8rem 1.3rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;   
  transition:  all 0.4s linear;
}
 .ssl-img_content a:hover{
  background-color: #fd7e14;
  color: #fff;
  transition:  all 0.4s linear;
}
.ssl-img_content h5{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0rem;
  font-family: 'Space Grotesk';
  color: #fd7e14;
}
 .ssl-img img{
  width: 100%;
  height: auto;
  transition:  all 0.4s linear;
}
 .ssl-img_content{
  margin-top: 1rem;
  font-family: 'Space Grotesk';
}
 .ssl-img_content h4{   
  color: #5454d4cc;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0rem;
  font-family: 'Space Grotesk';
 }
.ssl-img_content p{ 
  background-color: #a3494328;
  border-radius: 3px;
  font-size: 1.3rem;
  color: #0a0a0a;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  display: inline-block;
  font-family: 'Space Grotesk';
 }
 .ssl-list {
  list-style: none;
   position: relative;
 }
 .ssl-list li{
  font-size: 1.3rem;
  color: #5d5d5f;
  font-family: 'Space Grotesk';
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
 }
 .ssl-list li i{
  color: #40648d76;
  margin-right: 1px;
 }
 .ssl-nav{
  font-family: 'DMSans-Bold';
  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 .ssl-nav button{
  font-size: 1.3rem;
  
  font-weight: 500;
  color: #0126a1;
  padding: 0.5rem 1rem;  
  transition:  all 0.4s linear;
 } 
 .nav-tabs .nav-link.active{
  background-color: #fd7e14 !important;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
 }
.ssl-tables{
  font-family: 'Space Grotesk';
  font-size: 1.3rem;
}
 .ssl-tables h5{
  color: #0014aa;
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: 'Space Grotesk';
 }
 .price_box.price-content:hover{
  transform:translateY(0px); ;
 }


@media screen and (max-width:1200px) {
  .cl-icons{
    min-height: 300px;
    height: fit-content;
  }
  .cl-end {    
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  } 
  .cl-end p{
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    font-size: 2.5rem;
  }
  .cl-end a{
    position: relative;
    left: 50%;
    transform: translateX(-50%)
  }

}
@media screen and (max-width:1024px) {
  .cl-main h1{
    font-size: 7rem;
  } 
  .cl-end p{
    font-size: 1.7rem; 
  } 
  .int-content.intc1 img,
   .int-content img{
    width: 80%;
  }  
  .int-heading p{
    width: 95%;
  }
  .int-heading.intc1-heading p{
    width: 100%;
  }

}
@media screen and (max-width:778px) {
  .cl-main h1{
    font-size: 5rem;
  }
  .cl-icons h3{
    font-size: 2.3rem;
  }
  .cl-icons p{
    font-size: 1.6rem;
    font-family: Space Grotesk;
    width: 80%;
  }
  .cl-icons a{
    align-self: flex-start;
  }
  .intro-btn .btn-started{
    padding: 0.8rem 1.2rem ;
    margin-right: 10px;
    text-align: center;
  }
}
@media screen and (max-width:450px) {
  .int-content.intc1 img,
   .int-content img{
    width: 100%;
  } 
  .cl-main h1{
    font-size: 4rem;
  }
  .cl-icons h3{
    font-size: 2rem;
  }
  .cl-icons p{
    font-size: 1.1rem;
    font-family: Space Grotesk;
    width: 90%;
  }
  .cl-icons{
    height:fit-content;
  }
  .cl-end p{
    font-size: 1rem; 
  } 
  .cl-end a{
    font-size: 1rem;
  }
  
  .cus-content h3{
    font-size: 1.5rem;
    line-height: 1.7;
  }
  .cus-name > p{
    font-size: 1rem;
  }
  .cus-statics{
    width: 100%;
  }
  .cus-statics .cus-1 span{
    font-size: 2rem;
  }
  .cus-statics .cus-1 > p{
    font-size: 1rem;
  }
  .cus-btn a{
    font-size: 1rem;
  }
  .cus-statics .cus-1{
    border-left: 3px solid #c30010cf;
    display: none;
  }
  .int-content.intc1{
    text-align: center;
  }
  .benefit-title p{
    font-size: 2rem;
  }
  .benefit-content p{
    font-size: 1.2rem;
  }
  .benefit-content h4{
    font-size: 1.7rem;
  }
  .intro-btn .btn-started, 
  .intro-btn .btn-started.learn{
    font-size: 1rem;
  }
  .cus-content .cus-statics, .cus-content .cus-btn{
    display: none;
  }
 
}

.price_end .accordion-body {
  font-family: Space Grotesk;
  font-size: 1.3rem !important;
}



.services .service-item.item-neon-green {
  border-bottom: 3px solid #8fe13c;
}

.services .service-item.item-neon-green .icon {
  color: #8fe13c;;
  background: rgba(243, 38, 140, 0.1);
}

.services .service-item.item-neon-green .read-more {
  color: #8fe13c;;
}

.services .service-item.item-neon-green:hover {
  background: #8fe13c;;
}


.services .service-item.item-grey {
  border-bottom: 3px solid #504c56;
}

.services .service-item.item-grey .icon {
  color: #504c56;
  background: rgba(102, 16, 242, 0.1);
}

.services .service-item.item-grey .read-more {
  color: #504c56;
}

.services .service-item.item-grey:hover {
  background: #504c56;
}


.services .service-item.item-blue-green {
  border-bottom: 3px solid #0691b3;
}

.services .service-item.item-blue-green .icon {
  color: #0691b3;
  background: rgba(102, 16, 242, 0.1);
}

.services .service-item.item-blue-green .read-more {
  color: #0691b3;
}

.services .service-item.item-blue-green:hover {
  background: #0691b3;
}
.services .service-item:hover h3,
.services .service-item:hover p,
.services .service-item:hover .read-more {
  color: #fff;
}

.services .service-item:hover .icon {
  background: #fff;
}


#services{
  padding: 2rem 0;
}

/*--------------------------------------------------------------
# benefit Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# benefit Section
--------------------------------------------------------------*/